.header {
    width: 100%;
    height: 929px;
    &_back {
        background-image: url(./img/img\ 1.png);
        width: 100%;
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        &_add {
            height: 18px;
            width: 100%;
            background: #27262A;
            display: flex;
            justify-content: center;
            align-items: center;
            &_nav {
                column-gap: 47px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60%;
                height: 18px;
                &_a {
                    text-decoration: none;
                    color: #ffffff;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 18px;
                    &:hover {
                        color: #8D81AC;
                    }
                }
            }
        }
        &_headeradd {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            column-gap: 20%;
            align-items: center;
            background: #27262A;
            position: relative;
            &_menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                row-gap: 6px;
                display: none;
                &:focus {
                    display: none;
                }
                &_img1 {
                    width: 15px;
                    height: 3px;
                    margin-left: 11px;
                }
            }
            &_cross {
                position: absolute;
                display: none;
                &:hover {
                    display: none;
                }
            }

            &_nav {
                column-gap: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &_p {
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 15px;
                    display: block;
                    cursor: pointer;
                    &:hover {
                        color: #8D81AC;
                    }
                }
                &_btn {
                    border-radius: 40px;
                    border: 1px solid #8D81AC;
                    background: #FFF;
                    color: #8D81AC;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 17px;
                    width: 145px;
                    height: 37px;
                    cursor: pointer;
                    transition-duration: 0.15s;
                    &:hover {
                        background-color: #8D81AC;
                        color: white;
                        transition-duration: 0.3s;
                    }
                }
            }
        }
    }
}
.headertext {
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &_p1 {
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 82px;
        font-style: normal;
        font-weight: 700;
        line-height: 82px;
    }
    &_p2 {
        color: #8D81AC;
        text-align: center;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }
    &_p3 {
        color: #848E97;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-transform: uppercase;
    }
}
.buttons {
    display: block;
    margin: 420px auto 0 auto;
    width: 390px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &_btn {
        width: 390px;
        height: 62px;
        flex-shrink: 0;
        border-radius: 40px;
        border: 2px solid #8D81AC;
        background: #FFF;
        color: #8D81AC;
        text-align: center;
        font-family: Montserrat;
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        cursor: pointer;
        transition-duration: 0.15s;
        &:hover {
            background: #8D81AC;
            color: white;
            transition-duration: 0.3s;
        }
    }
    &_p1 {
        color: #848E97;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
    }
}
.github {
    &_p1 {
        color: #635C73;
        text-align: center;
        font-family: Montserrat;
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
    }
    &_img {
        margin: 13px auto 0 auto;
        display: block;

    }
    &_img2 {
        display: none;
    }
    &_img3 {
        display: none;
    }
    &_p2 {
        text-align: center;
        color: #323232;
        text-align: center;
        font-family: Lato;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        width: 70%;
        margin: 31px auto 0 auto;

    }
}
.code {
    margin: 0 auto 0 auto;
    background: #F4F4F4;
    margin-top: 70px;
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    padding-top: 95px;
    &_icons {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        display: flex;
        justify-content: start;
        align-items: end;
        &_block {
            display: flex;
            width: 536px;
            height: 110px;
            &_img {
                width: 111px;
                height: 64px;
            }
            &_text {
                &_p1 {
                    color: #323232;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;
                }
                &_p2 {
                    color: #848E97;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21px;
                }
            }
        }
    }
    &_get {
        width: 50%;
        &_p1 {
            color: #8D81AC;
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 50px;
            display: block;
            margin-left: 100px;
        }
        &_img {

        }
    }
}
.blockadd1 {
    column-gap: 40px;
}
.blockadd2 {
    column-gap: 80px;
}
.blockadd3 {
    column-gap: 107px;
}
.blockadd4 {
    column-gap: 87px;
}
@media only screen and (max-width: 3000px) and (min-width: 1200px) {
    .header {
        &_back {
            &_headeradd {
                &_logo2 {
                    display: none;
                }
            }
            &_add {
                display: none;
            }
        }
    }
    .blockitems {
        display: none;
    }
}
@media screen and (max-width:1200px) {
    .header {
        &_back {
            &_headeradd {

                height: 70px;
                column-gap: 55%;
                &_logo2 {
                    display: none;
                }
            }
            &_add {
                height: 48px;
                &_nav {
                    width: 80%;
                }
            }
        }
    }
    .hide1200px {
        display: none;
    }
    .blockitems {
        display: none;
    }
    .buttons {
        margin-top: 400px;
    }
}
@media screen and (max-width:768px) {
    .header {
        &_back {
            &_add {
                display: none;
            }
            &_headeradd {
                justify-content: start;
                column-gap: 0;
                &_logo2 {
                    display: block;
                    margin-left: 40px;
                }
                &_logo1 {
                    display: none;
                }
                &_menu {
                    display: flex;
                    top: 25px;
                    right: 40px;
                    &:hover + .cross {
                        display: block;
                    }
                    
                }
                &_cross {
                    top: 25px;
                    right: 40px;
                    transform: translateX(-0.5px);
                    transform: scale(1.1);
                }
                &_nav {
                    margin: 0 auto 0 auto;
                    &_btn {
                        transform: translateX(-30px);
                    }
                }
            }
        }
    }
    .buttons {
        width: 290px;
        &_btn {
            width: 290px;
            height: 45px;
            color: #8D81AC;
            text-align: center;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }
    }
    .headertext {
        &_p1 {
            margin: 0 auto 0 auto;
            width: 95%;
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px;
        }
        &_p2 {
            margin: 0 auto 0 auto;
            width: 95%;
        }
    }
    .blockitems {
        display: none;
    }
    .buttons {
        margin-top: 460px;
    }
    .github {
        &_p1 {
            color: #635C73;
            text-align: center;
            font-family: Montserrat;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
        }
        &_p2 {
            margin-top: 27px;
        }
        &_img {
            display: none;
        }
        &_img3 {
            display: block;
            margin: 20px auto 0 auto;
        } 
        &_img2 {
            display: block;
            margin: 36px auto 0 auto;
        }
    }
}
@media screen and (max-width:366px) {
    .buttons {
        margin-top: 430px;
    }
}